.highlight {
    table {
        td {
            padding: 5px;
        }
        pre {
            margin: 0;
            border-radius: 0;
            border:0;
        }
    }
    color: #666;
    background-color: #f7f7f7;
    .gl {
        color: #dee5e7;
        background-color: #4e5d62;
    }
    .c {
        color: #6c8b9f;
        font-style: italic;
    }
    .cd {
        color: #6c8b9f;
        font-style: italic;
    }
    .cm {
        color: #6c8b9f;
        font-style: italic;
    }
    .c1 {
        color: #969896;
        font-style: italic;
    }
    .cs {
        color: #6c8b9f;
        font-style: italic;
    }
    .cp {
        color: #795da3;
        ////font-weight: bold;
        font-style: italic;
    }
    .err {
        color: #fefeec;
        background-color: transparent;
    }
    .gr {
        color: #fefeec;
        background-color: #cc0000;
    }
    .k {
        color: #a71d5d;
        ////font-weight: bold;
    }
    .kd {
        color: #a71d5d;
        ////font-weight: bold;
    }
    .kv {
        color: #a71d5d;
        ////font-weight: bold;
    }
    .o {
        color: inherit;
    }
    .ow {
        color: #4df4ff;
    }
    .p {
        color: inherit;
    }
    .pi {
        color: #4df4ff;
    }
    .gd {
        color: #cc0000;
    }
    .gi {
        color: #795da3;
    }
    .ge {
        font-style: italic;
    }
    .gs {
        //font-weight: bold;
    }
    .gt {
        color: #dee5e7;
        background-color: #4e5d62;
    }
    .kc {
        color: #0086b3;
        //font-weight: bold;
    }
    .kn {
        color: #ffb000;
        //font-weight: bold;
    }
    .kp {
        color: #a71d5d;
        //font-weight: bold;
    }
    .kr {
        color: #ffb000;
        //font-weight: bold;
    }
    .gh {
        color: #ffb000;
        //font-weight: bold;
    }
    .gu {
        color: #ffb000;
        //font-weight: bold;
    }
    .kt {
        color: #795da3;
        //font-weight: bold;
    }
    .no {
        color: #0086b3;
        //font-weight: bold;
    }
    .nc {
        color: #795da3;
        //font-weight: bold;
    }
    .nd {
        color: #795da3;
        //font-weight: bold;
    }
    .nn {
        color: #795da3;
        //font-weight: bold;
    }
    .bp {
        color: #795da3;
        //font-weight: bold;
    }
    .ne {
        color: #795da3;
        //font-weight: bold;
    }
    .nl {
        color: #ffb000;
        //font-weight: bold;
    }
    .nt {
        color: #ffb000;
        //font-weight: bold;
    }
    .m {
        color: #0086b3;
        //font-weight: bold;
    }
    .mf {
        color: #0086b3;
        //font-weight: bold;
    }
    .mh {
        color: #0086b3;
        //font-weight: bold;
    }
    .mi {
        color: #0086b3;
        //font-weight: bold;
    }
    .il {
        color: #0086b3;
        //font-weight: bold;
    }
    .mo {
        color: #0086b3;
        //font-weight: bold;
    }
    .mb {
        color: #0086b3;
        //font-weight: bold;
    }
    .mx {
        color: #0086b3;
        //font-weight: bold;
    }
    .ld {
        color: #0086b3;
        //font-weight: bold;
    }
    .ss {
        color: #0086b3;
        //font-weight: bold;
    }
    .s {
        color: #183691;
        //font-weight: bold;
    }
    .sb {
        color: #183691;
        //font-weight: bold;
    }
    .sd {
        color: #183691;
        //font-weight: bold;
    }
    .s2 {
        color: #183691;
        //font-weight: bold;
    }
    .sh {
        color: #183691;
        //font-weight: bold;
    }
    .sx {
        color: #183691;
        //font-weight: bold;
    }
    .sr {
        color: #183691;
        //font-weight: bold;
    }
    .s1 {
        color: #183691;
        //font-weight: bold;
    }
    .se {
        color: #4df4ff;
        //font-weight: bold;
    }
    .sc {
        color: #4df4ff;
        //font-weight: bold;
    }
    .si {
        color: #183691;
        //font-weight: bold;
    }
    .nb {
        color: #0086b3;
        //font-weight: bold;
    }
    .ni {
        color: #999999;
        //font-weight: bold;
    }
    .w {
        color: #BBBBBB;
    }
    .nf {
        color: #795da3;
    }
    .py {
        color: #795da3;
    }
    .na {
        color: #795da3;
    }
    .nv {
        color: #795da3;
        //font-weight: bold;
    }
    .vc {
        color: #795da3;
        //font-weight: bold;
    }
    .vg {
        color: #795da3;
        //font-weight: bold;
    }
    .vi {
        color: #795da3;
        //font-weight: bold;
    }
}
