---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

/* custom variable */
$body-bg: #fff;
$body-font-color: #000;
$body-font-size: 20px;
$body-font-family: 'Quattrocento', 'Georgia', sans-serif;
$light_grey: #ccc;
$grey: #a6a6a6;
$dark_grey: #666;
$blue: #000080;
$red: #b30000;
$green: #006600;

@mixin prefix($map, $vendors: webkit moz ms o) {
  @each $prop, $value in $map {
    @if $vendors {
      @each $vendor in $vendors {
        #{"-" + $vendor + "-" + $prop}: #{$value};
      }
    }
    #{$prop}: #{$value};
  }
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@import "bootstrap";
@import "../../../../css/base";
@import "../../../../css/navbar";
@import "../../../../css/post";
@import "../../../../css/syntax-highlighting";
@import "../../../../css/footer";
