<footer id="contact">
  <div class="container">
    <nav>
      <div class="pull-right">
        <ul class="list-inline social">
          <li>
            <a href="mailto:{{ site.email }}">
              <span class="fa fa-envelope"></span>
            </a>
          </li>
          <li>
            <a href="https://linkedin.com/in/ainapinto" target="_blank">
              <span class="fa fa-linkedin"></span>
            </a>
          </li>
          <li>
            <a href="https://github.com/pwdd" target="_blank">
              <span class="fa fa-github"></span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</footer>

<script
        src="https://code.jquery.com/jquery-2.2.3.min.js"
        integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="
        crossorigin="anonymous"></script>
<script src="{{ site.baseurl }}/bower_components/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>