/**
 * Basic styling
 */
body {
  font-family: $body-font-family;
  color: $body-font-color;
  background-color: $body-bg;
}


/**
 * Images
 */
img {
  @extend .img-responsive;
}

/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    background-color: #122b3b;
}

code {
    padding: 1px 5px;
    &.highlighter-rouge {
        background-color: #eef;
    }
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}
