---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="text-center post-title">
    <h1 itemprop="name headline">{{ page.title }}</h1>
  </header>

  <div class="vertical-separator"></div>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  <div class="post-date pull-right">
    <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
  </div>

  <div class="clearfix"></div>

</article>
